/* https://www.youtube.com/watch?v=2reEERHqHgs */
html {
  --color: #ffe561;
  --background: rgb(0 0 0 / 50%);
  --size: 16px;
  --bezier: cubic-bezier(0, 0, 0, 1);
  color: white;
  /**/
}

/* Initial*/
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#invalid {
  display: none;
  color: red;
  text-align: center;
  font-size: 12px;
}

#onscript {
  display: none;
  flex-direction: column;
  background: url(media/moon-back.jpg) no-repeat center/cover;
  height: 100%;
}

content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 42em;
  align-items: center;
  align-self: center;
}

/* Brand */
.brand {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--size) * 4);
}

.brand-text {
  margin: unset;
  font: calc(var(--size) + 10px) Keep Calm Medium;
  text-align: center;
}

.logo {
  margin: 0 var(--size);
  outline: 2px solid white;
  border-radius: 100%;
  background: url(media/moon-icon.png) no-repeat center/contain;
  height: calc(var(--size) * 4);
  width: calc(var(--size) * 4);
  animation: 4s ease-in-out infinite logo;
}

@keyframes logo {
  0% {
    transform: translateY(5%);
  } 50% {
    transform: translateY(-5%);
  } 100% {
    transform: translateY(5%);
  }
}

/* Media URL */
div.url {
  margin-top: calc(var(--size) * 1.5);
  width: 100%;
}

#url::placeholder {color: rgb(255 255 255 / 64%);}

#url {
  color: white;
  caret-color: var(--color);
  background: var(--background);
  border: 2px solid var(--color);
  border-inline: none;
  outline: none;
  padding: 8px;
  font-family: Nexa Regular;
  font-size: calc(var(--size) - 2px);
  text-align: center;
  width: 100%;
}

#empty, #enter {
  width: 32px;
  background: var(--background);
  border: 2px solid var(--color);
}

#empty{display: flex;border-radius: 0px 32px 32px 0px;border-left: none;align-items: center;}
#enter {border-radius: 32px 0px 0px 32px;border-right: none;}
#btn-right {cursor: pointer;}

/* Window */
window {
  /* display: none; */
  overflow: hidden;
  border: 2px solid var(--color);
  border-top: none;
  border-radius: 0 0 var(--size) var(--size);
  background: var(--background);
  height: 256px;
  width: 100%;
} 

tab {
  /* display: none; */
  background: var(--background);
  border: 2px solid var(--color);
  border-bottom: none;
  border-radius: var(--size) var(--size) 0 0;
  padding: 0 var(--size);
  padding-top: 2px;
  margin-top: 16px;
  width: 100%;
  flex-direction: column;
}

tab-group {
  display: flex;
  align-items: center;
}

.tab-name {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;
  transition: 0.25s var(--bezier);
}

.tab-label {
  margin-left: 4px;
  font-size: 86%;
}

/* Invisible */
invisible {display: flex;}
slider {display: none;position: absolute;height: 2px;transition: 0.25s var(--bezier);background: var(--color);}
slider-hover {background: rgb(255 255 255 / 50%);height: 2px;transition: 0.25s var(--bezier);transform: scaleX(0);}

/*hover & active*/
.tab-name:hover {background: rgb(255 255 255 / 25%);}
.tab-name:active {background: rgb(0 0 0 / 50%);}

@font-face {font-family: Keep Calm Medium;src: url("font/KeepCalm-Medium.ttf");}
@font-face {font-family: Nexa Regular;src: url("font/Nexa Regular.otf");}

@media (min-width: 432px) {
  
}