/* https://www.youtube.com/watch?v=2reEERHqHgs */
html {
  --color: #ffe561;
  --background:
  rgb(0 0 0 / 50%);
  --size: 16px;
  color: white;
}

/* Initial*/
#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#invalid {
  color: red;
  text-align: center;
  font-size: 12px;
}

#onscript {
  display: none;
  flex-direction: column;
  background: url(media/moon-back.jpg) no-repeat center/cover;
  height: 100%;
}

content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 42em;
  align-items: center;
  align-self: center;
}

/* Brand */
.brand {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: calc(var(--size) * 4);
}

.brand-text {
  margin: unset;
  font: calc(var(--size) + 10px) Keep Calm;
  text-align: center;
}

.logo {
  margin: 0 var(--size);
  border: 2px solid white;
  border-radius: 100%;
  background: url(media/moon-icon.png) no-repeat center/contain;
  height: calc(var(--size) * 4);
  width: calc(var(--size) * 4);
  animation: 4s ease-in-out infinite logo;
}

@keyframes logo {
  0% {
    transform: translateY(5%);
  } 50% {
    transform: translateY(-5%);
  } 100% {
    transform: translateY(5%);
  }
}

div.url {
  margin-top: calc(var(--size) * 1.5);
  width: 100%;
}

#url::placeholder {color: rgb(255 255 255 / 64%);}

#url {
  color: white;
  caret-color: var(--color);
  background: var(--background);
  border: 2px solid var(--color);
  border-inline: none;
  outline: none;
  padding: 8px;
  font-family: Nexa Regular;
  font-size: calc(var(--size) - 2px);
  text-align: center;
  width: 100%;
}

#empty, #enter {
  width: 32px;
  background: var(--background);
  border: 2px solid var(--color);
}

#empty{display: flex;border-radius: 0px 32px 32px 0px;border-left: none;align-items: center;}
#enter {border-radius: 32px 0px 0px 32px;border-right: none;}
#btn-right {cursor: pointer;}
/* Window */
window {
  border: 2px solid var(--color);
  border-top: none;
  border-radius: 0 0 var(--size) var(--size);
  background: var(--background);
  height: 256px;
  width: 100%;
} 

tab {
  display: flex;
  background: var(--background);
  border: 2px solid var(--color);
  border-bottom: none;
  border-radius: var(--size) var(--size) 0 0;
  padding: calc(var(--size) / 2) var(--size);
  width: 100%;
  flex-direction: column;
}

tab-label {
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: 12px;
  cursor: pointer;
}

.tab-icon, .tab-ic {
  fill: white;
  margin-right: 4px;
  height: 16px;
} .tab-ic {fill: none;}

tab-group, tab-slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

tab-slider {
  overflow: hidden;
  color: transparent;
  height: 2px;
}

tab-label.hov {
  
}

slider {
  display: none;
  position: relative;
  left: 12px;
  height: 100%;
  width: 2em;
  background: var(--color);
}

/*hover*/


@font-face {
  font-family: Keep Calm; src: url("font/KeepCalm-Medium.ttf");
  font-family: Nexa Regular; src: url("font/Nexa Regular.otf");
}

@media (min-width: 432px) {
  
}