html, body {
  margin: unset;
  padding: unset;
  height: 100vh;
  font-family: system-ui;
}

* {
  box-sizing: border-box;
}

document.full {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: 1.5s linear faded;
}

div.full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main {
  font-family: Tahoma;
  margin: unset;
  color: #da3633;
}

.reason {color: black;}

.info {
  color: grey;
  font-size: 12px;
}

@keyframes faded {from{opacity: 0}to{opacity: 1}}

@media (max-width: 560px) {
  document.full{
    padding: 0px 16px;
  }
}